<md-sidenav-container [class.m2app-dark]="isDarkTheme">
  <md-toolbar color="primary">
    <span>TN</span>
    <span class="spacer"></span>
    <button md-icon-button>
      <md-icon>search</md-icon>
    </button>
    <button md-icon-button>
      <md-icon>chat</md-icon>
    </button>
    <button id="appButtonToolbar" md-button [mdMenuTriggerFor]="menu">
      <button md-icon-button>
        <md-icon>account_circle</md-icon>
      </button>
      {{name}}
    </button>
    <md-menu #menu="mdMenu">
      <button md-menu-item>
        <md-icon>settings</md-icon>
        <span>Настройки</span>
      </button>
      <button md-menu-item (click)="isDarkTheme = !isDarkTheme">
        <md-icon>brightness_4</md-icon>
        <span>Сменить тему</span>
      </button>
    </md-menu>
  </md-toolbar>
  <md-tab-group>
    <md-tab label="УТК (Учебные курсы)">
      <div class="rowList">
        <div class="one-four-column">
          <md-card>
            <md-card-content>
              <h2>УТК</h2>
              <tree-root [nodes]="nodes" onselect="select()">
                <ng-template #treeNodeWrapperTemplate let-node let-index="index">
                  <div class="node-wrapper" [style.padding-left]="node.getNodePadding()">
                    <tree-node-expander [node]="node"></tree-node-expander>
                    <div class="node-content-wrapper"
                         [class.node-content-wrapper-active]="node.isActive"
                         [class.node-content-wrapper-focused]="node.isFocused"
                         (click)="node.mouseAction('click', $event)"
                         (dblclick)="node.mouseAction('dblClick', $event)"
                         (contextmenu)="node.mouseAction('contextMenu', $event)">
                      <tree-node-content [node]="node" [index]="index"></tree-node-content>
                    </div>
                  </div>
                </ng-template>
              </tree-root>
            </md-card-content>
          </md-card>
        </div>
        <div class="two-four-column">
          <md-card>
            <md-card-content>
              <div class="rowList">
                <div class="columnsList">
                  <h2>Учебно-тренировочный комплекс</h2>
                  <md-input-container>
                    <input mdInput placeholder="Название" [value]="selectCourse.name" (input)="selectCourse.name=$event.target.value"/>
                  </md-input-container>
                  <md-input-container>
                    <input mdInput type="number" placeholder="Часы" [value]="selectCourse.academHours" (input)="selectCourse.academHours=$event.target.value">
                  </md-input-container>
                  <md-input-container>
                    <textarea mdInput placeholder="Описание" cols="70" [value]="selectCourse.description" (input)="selectCourse.description=$event.target.value"></textarea>
                  </md-input-container>
                </div>
                <span class="spacer"></span>
                <md-icon md-tooltip="Перетащите сюда изображение" class="missingImage" style="height: 122px; width: 200px;">photo</md-icon>
              </div>
            </md-card-content>
          </md-card>
        </div>
        <div class="one-four-column">
          <md-card>
            <md-card-content>
              <div class="columnsList">
                <h3>Свойства УТК</h3>
                <h4>Дата создания:</h4>
                <p>{{selectCourse.dateCreate}}</p>
                <h4>Дата изменения:</h4>
                <p>{{selectCourse.dateChange}}</p>
              </div>
            </md-card-content>
          </md-card>
        </div>
      </div>
    </md-tab>
    <md-tab label="Статистика">

    </md-tab>
  </md-tab-group>
  <span class="app-action" [class.m2app-dark]="isDarkTheme">
  <button md-fab><md-icon>check circle</md-icon></button>
  </span>
</md-sidenav-container>
