<md-sidenav-container [class.m2app-dark]="isDarkTheme">
  <md-toolbar color="primary">
    <span>TN</span>
    <span class="spacer"></span>
    <button md-icon-button>
      <md-icon>search</md-icon>
    </button>
    <button md-icon-button>
      <md-icon>chat</md-icon>
    </button>
    <button class="appButtonToolbar" md-button [mdMenuTriggerFor]="menu">
      <button md-icon-button>
        <md-icon>account_circle</md-icon>
      </button>
      {{name}}
    </button>
    <md-menu #menu="mdMenu">
      <button md-menu-item>
        <md-icon>settings</md-icon>
        <span>Настройки</span>
      </button>
      <button md-menu-item (click)="isDarkTheme = !isDarkTheme">
        <md-icon>brightness_4</md-icon>
        <span>Сменить тему</span>
      </button>
    </md-menu>
  </md-toolbar>
  <md-tab-group>
    <md-tab label="УТК (Учебные курсы)">
      <div class="rowList">
        <div class="one-four-column">
          <md-card id="md-card-left-tree-view">
            <md-card-content>
              <h2>УТК</h2>
              <md-input-container style="width: 98%">
                <input mdInput placeholder="Фильтр" #filter (keyup)="filterNodes(filter.value, tree)"
                style="width: 95%"/>
              </md-input-container>
              <perfect-scrollbar class="container" style="overflow: auto; max-height: 700px">
                <tree-root #tree [nodes]="nodes" style="overflow: auto">
                  <ng-template #treeNodeTemplate let-node>
                    <span (click)="select(node)">{{ node.data.name }}</span>
                  </ng-template>
                </tree-root>
              </perfect-scrollbar>
            </md-card-content>
          </md-card>
        </div>
        <div class="two-four-column">
          <md-card>
            <md-card-content>
              <div class="rowList">
                <div class="columnsList">
                  <div class="rowList">
                    <h2>Учебно-тренировочный комплекс</h2>
                    <span class="spacer"></span>
                    <button md-fab md-icon-button>
                      <md-icon style="padding: 3px">check circle</md-icon>
                    </button>
                  </div>
                  <md-input-container>
                    <input mdInput placeholder="Название" [value]="selectCourse.name" (input)="selectCourse.name=$event.target.value"/>
                  </md-input-container>
                  <md-input-container>
                    <input mdInput placeholder="Полное название" [value]="selectCourse.fullName" (input)="selectCourse.fullName=$event.target.value"/>
                  </md-input-container>
                  <md-input-container>
                    <input mdInput type="number" placeholder="Часы" [value]="selectCourse.academHours" (input)="selectCourse.academHours=$event.target.value">
                  </md-input-container>
                  <md-input-container>
                    <textarea mdInput placeholder="Описание" cols="70" [value]="selectCourse.description" (input)="selectCourse.description=$event.target.value"></textarea>
                  </md-input-container>
                </div>
                <span class="spacer"></span>
                <md-icon md-tooltip="Перетащите сюда изображение" class="missingImage" style="height: 122px; width: 200px; margin: auto">photo</md-icon>
              </div>
            </md-card-content>
          </md-card>
        </div>
        <div class="one-four-column">
          <md-card>
            <md-card-content>
              <div class="columnsList">
                <h3>Свойства УТК</h3>
                <h4>Дата создания:</h4>
                <p>{{selectCourse.dateCreate}}</p>
                <h4>Дата изменения:</h4>
                <p>{{selectCourse.dateChange}}</p>
              </div>
            </md-card-content>
          </md-card>
        </div>
      </div>
    </md-tab>
    <md-tab label="Статистика">

    </md-tab>
  </md-tab-group>
</md-sidenav-container>
