md-sidenav-container.m2app-dark {
  background: black;
}
md-sidenav-container {
  height: 100%;
}

.app-content {
  padding: 5px;
}

.app-content md-card {
  margin: 5px;
  min-width: 250px;
  min-height: 250px;
}

.app-sidenav {
  min-width: 200px;
}

.app-content md-checkbox {
  margin: 10px;
}

.app-toolbar-filler {
  flex: 1 1 auto;
}


.app-action {
  display: inline-block;
  position: fixed;
  bottom: 20px;
  right: 20px;
}

.app-spinner {
  height: 30px;
  width: 30px;
  display: inline-block;
}

.app-input-icon {
  font-size: 16px;
}

.app-menu-button {
  padding: 0;
  min-width: 50px;
}

.app-list {
  border: 1px solid rgba(0,0,0,0.12);
}

.app-progress {
  margin: 5px;
}

.mat-slider-horizontal {
  width: 300px;
}

.mat-slider-vertical {
  height: 300px;
}

md-chip {
  max-width: 200px;
}

.app-sidebar-button {
  width: inherit;
}
.mat-tab-body-wrapper {
  height: 100%;
}
.spacer {
  -webkit-box-flex: 1;
  -ms-flex: 1 1 auto;
  flex: 1 1 auto;
}
.missingImage {
  border: gray solid 1px;
  text-align: center;
  padding-top: 88px;
}
.missingImage:hover {
  border-color: lightgray;
}
#appButtonToolbar {
  margin: 0;
  height: 100%;
}
#appButtonToolbar:hover {
  margin: 0;
}
.one-four-column {
  width: 20%;
  margin: 5px;
}
.two-four-column {
  width: 60%;
  margin: 5px;
}
.columnsList {
  display: flex;
  flex-direction: column;
  margin: 5px;
  width: 76%;
}
.rowList {
  display: flex;
  flex-direction: row;
}
