/* You can add global styles to this file, and also import other style files */
@import 'theme';

html, body {
  margin: 0;
  height: 100%;
  overflow: hidden;
}
/*
.grid-test-1 > figure.mat-figure {
  justify-content: flex-start !important;
}
*/
